@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong></strong>   <a href="mailto:Support@example.com"></a><br />
    <strong></strong>   <a href="mailto:Support@example.com"></a><br />
</address>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactatame</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                <form id="contactForm">
                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                            <label>Nombre: Yonathan Roblero Soto</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                            <label>Correo: yonathan.roblero17@tectijuana.edu.mx</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                            <label>Telefono: Phone Number   6645632190</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>